<!-- begin #sidebar -->
<div id="sidebar" class="sidebar" ng-controller="sidebarController" ng-class="{ 'sidebar-transparent': setting.layout.pageSidebarTransparent }">
    <!-- begin sidebar scrollbar -->
    <div data-scrollbar="true" data-height="100%">
        <!-- begin sidebar user -->
        <ul class="nav">
            <li class="nav-profile">
                <div class="image">
                    <a href="javascript:;"><img src="admin_website/assets/img/user-13.jpg" alt="" /></a>
                </div>
                <div class="info">
                    {{user.username}}
                    <small>Administrateur</small>
                </div>
            </li>
        </ul>
        <!-- end sidebar user -->
        <!-- begin sidebar nav -->
        <ul class="nav">
            <li class="nav-header">Navigation</li>
            <li class="has-sub" ng-class="{active:$state.includes('app.dashboard')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-laptop"></i>
                    <span>Dashboard</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="app.dashboard.home">Home</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.dashboard.v2">Dashboard v2</a></li>
                </ul>
            </li>
            <li class="has-sub" ng-class="{active:$state.includes('app.news')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-pencil-square-o"></i>
                    <span>News</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="app.news.create_news">Créer</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.news.list_news">Liste des news</a></li>
                </ul>
            </li>
            <!-- begin sidebar minify button -->
            <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
            <!-- end sidebar minify button -->
        </ul>
        <!-- end sidebar nav -->
    </div>
    <!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>
<!-- end #sidebar -->

